---
import { Image } from 'astro:assets';
import Text from '@components/typography/Text.astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '@utils/date';
import Heading3 from '@components/typography/Heading3.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<div
  class='flex flex-col border border-slate-300 border-opacity-40 bg-darkSecondary transition-transform ease-in-out hover:scale-[1.02]'
>
  <div class='relative h-52 w-full overflow-hidden'>
    <Image
      src={post.data.thumbnail}
      alt={post.data.title}
      width={400}
      height={250}
      class='h-full w-full overflow-hidden object-cover object-center'
    />
  </div>
  <div class='flex flex-col items-stretch justify-between p-3'>
    <div>
      <div class='flex flex-wrap gap-1'>
        {
          post.data.categories?.map((category) => (
            <Text variant='label1' className='bg-blue-700 p-1 rounded-md'>
              {category}
            </Text>
          ))
        }
      </div>
      <div class='py-2'></div>
      <Heading3 classNames='hover:text-blueAccent transition-colors'>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </Heading3>
    </div>
    <div class='p-4'></div>
    <div class='flex items-center justify-between text-sm'>
      <Text variant='label1'>{formatDate(post.data.date.toISOString())}</Text>
      <Text variant='label1'>
        {remarkPluginFrontmatter.minutesRead}
      </Text>
    </div>
  </div>
</div>
