---
import Heading4 from "../typography/Heading4.astro";
import Text from "../typography/Text.astro";
import { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<div
  class="bg-darkSecondary rounded-md overflow-hidden border-2 border-slate-300 border-opacity-40 hover:scale-[1.02] transition-transform ease-in-out"
>
  <div class="w-full h-48 relative overflow-hidden">
    <img src={post.data.thumbnail} alt={post.data.title} class="object-cover" />
  </div>
  <div class="p-3 flex flex-col items-stretch justify-between">
    <div>
      <div class="flex gap-1 flex-wrap">
        {
          post.data.categories?.map((category) => (
            <Text variant="label1" className="bg-blueAccent p-1 rounded-md">
              {category}
            </Text>
          ))
        }
      </div>
      <div class="py-2"></div>
      <Heading4 classNames="hover:text-blueAccent transition-colors">
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </Heading4>
    </div>
    <div class="p-4"></div>
    <div class="flex items-center justify-between text-sm">
      <Text variant="label1">{post.data.date.toLocaleDateString()}</Text>
      <Text variant="label1">
        {remarkPluginFrontmatter.minutesRead}
      </Text>
    </div>
  </div>
</div>
