---
import type { CollectionEntry } from "astro:content";
import Chip from "@/components/Chip.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a
  class="group flex flex-col justify-between p-4 gap-3 rounded-sm cursor-pointer border transition-transform ease-in-out hover:scale-[1.02] hover:bg-content1 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background motion-reduce:transition-none motion-reduce:hover:scale-100"
  href={`/projects/${project.id}`}
  title={project.data.title}
  aria-label={project.data.title}
>
  <h3
    class="text-lg font-bold hover:text-primary transition-colors line-clamp-2"
  >
    {project.data.title}
  </h3>

  <p class="line-clamp-3 text-foreground/70">{project.data.description}</p>
  <div class="flex flex-wrap gap-2">
    {
      project.data.tech?.map((tech) => (
        <Chip variant="bordered" radius="sm" size="sm">
          {tech}
        </Chip>
      ))
    }
  </div>
</a>
