---
import { CollectionEntry, getCollection } from 'astro:content';
import Heading1 from '@components/typography/Heading1.astro';
import Text from '@components/typography/Text.astro';
import Layout from '@layouts/Layout.astro';
import { compareDesc } from 'date-fns';
import { Image } from 'astro:assets';
import ContentPagination, {
  ContentNavigator,
} from '@components/pagination/ContentPagination.astro';

type StaticPath = {
  params: {
    slug: string;
  };
};

interface Props {
  post: CollectionEntry<'projects'>;
  nextPost: ContentNavigator | null;
  prevPost: ContentNavigator | null;
}

export async function getStaticPaths(): Promise<StaticPath[]> {
  const projectCollection = await getCollection('projects');
  const sortedProjectCollection = projectCollection.sort((a, b) =>
    compareDesc(a.data.date, b.data.date),
  );
  const totalPost = sortedProjectCollection.length;
  return sortedProjectCollection.map((post, idx) => ({
    params: {
      slug: post.slug,
    },
    props: {
      nextPost:
        idx !== totalPost - 1
          ? {
              title: sortedProjectCollection[idx + 1].data.title,
              slug: '/projects/' + sortedProjectCollection[idx + 1].slug,
            }
          : null,
      prevPost:
        idx !== 0
          ? {
              title: sortedProjectCollection[idx - 1].data.title,
              slug: '/projects/' + sortedProjectCollection[idx - 1].slug,
            }
          : null,
      post,
    },
  }));
}

const { post, nextPost, prevPost } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  type='article'
  img={post.data.thumbnail}
  description={post.data.description}
  url={'https://www.bughowi.com/projects/' + post.slug}
>
  <div class='py-4'></div>
  <div class='mx-auto w-full lg:w-[65%]'>
    <Heading1>{post.data.title}</Heading1>
    <Text variant='body1'>{post.data.description}</Text>
    <article class='mt-5 w-full'>
      {
        post.data.thumbnail && (
          <Image
            src={post.data.thumbnail}
            alt={post.data.title}
            height={1080}
            width={720}
            loading='eager'
            class='rounded-lg'
          />
        )
      }
      <div class='py-4'></div>
      <section id='content-space' class='prose prose-invert max-w-none'>
        <Content />
      </section>
      <section class='mt-3 border-y-2 border-slate-400'>
        <p class='flex flex-wrap items-center gap-2 py-4'>
          Tech Stack :{' '}
          {
            post.data.tech?.map((tech) => (
              <span class='rounded-md bg-blue-700 px-1 py-0.5 text-slate-200'>
                {tech}
              </span>
            ))
          }
        </p>
      </section>
    </article>
    <div class='py-4'></div>
    <ContentPagination next={nextPost} prev={prevPost} />
    <!-- Giscus comment -->
    <script
      src='https://giscus.app/client.js'
      data-repo='albugowy15/bughowi.com'
      data-repo-id='R_kgDOHqneBQ'
      data-category='Announcements'
      data-category-id='DIC_kwDOHqneBc4CQdnP'
      data-mapping='url'
      data-strict='0'
      data-reactions-enabled='0'
      data-emit-metadata='0'
      data-input-position='bottom'
      data-theme='transparent_dark'
      data-lang='en'
      data-loading='lazy'
      crossorigin='anonymous'
      async></script>
  </div>
</Layout>
