---
import "@/styles/global.css";
import Footer from "@/layouts/Footer.astro";
import { NavbarMenu } from "./NavbarMenu.tsx";
import { Font } from "astro:assets";
import profile_pic from "@/assets/profile.png";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  url?: string;
  type?: "website" | "article";
  img?: string;
}

const links = [
  { title: "Blog", path: "/blog/page/1" },
  { title: "Projects", path: "/projects/page/1" },
  { title: "Snippets", path: "/snippets/page/1" },
  { title: "About", path: "/about" },
];

const {
  title,
  description,
  url = "https://www.bughowi.com",
  type = "website",
  img = "https://res.cloudinary.com/bughowi-assets/image/upload/c_thumb,w_200,g_face/v1692602156/home-thumbnail.png",
} = Astro.props;
---

<html lang="en">
  <head>
    <Font cssVariable="--font-roboto" preload />
    <title>{title} - Mohamad Kholid Bughowi</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Mohamad Kholid Bughowi's Personal Blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />
    <meta property="og:title" content={`${title} - Mohamad Kholid Bughowi`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="bughowi.com" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={`${title} - Mohamad Kholid Bughowi`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={img} />

    <script
      defer
      is:inline
      src="https://umami.yawilab.com/script.js"
      data-website-id="761d35f0-3cc0-469e-b797-273c51e99d2b"></script>
  </head>
  <body id="mainBody">
    <div class="flex min-h-screen w-full flex-col">
      <header class="sticky top-0 z-30 w-full py-3 lg:py-6">
        <div class="container mx-auto px-3 xl:px-14 2xl:max-w-7xl">
          <nav
            class="flex justify-between items-center px-4 py-3 lg:px-5 lg:py-4 rounded-full backdrop-blur-md text-sm sm:text-base bg-background/60 border"
          >
            <a href="/" title="Homepage" aria-label="Homepage">
              <Image
                src={profile_pic}
                width={30}
                height={30}
                loading="eager"
                class="aspect-square"
                alt="Mohamad Kholid Bughowi"
              />
            </a>
            <div class="hidden md:flex items-center gap-2">
              {
                links.map((link) => (
                  <a
                    href={link.path}
                    class="cursor-pointer text-foreground/70 px-1 py-0.5 font-bold transition-colors duration-300 hover:text-primary"
                  >
                    {link.title}
                  </a>
                ))
              }
            </div>
            <NavbarMenu client:media="(max-width: 48rem)" links={links} />
          </nav>
        </div>
      </header>
      <main class="container mx-auto flex-1 px-3 xl:px-14 2xl:max-w-7xl">
        <slot />
      </main>
      <div class="py-8"></div>
      <Footer />
    </div>
  </body>
</html>
